@font-face {font-family:Jua Regular; src: url(/ppangduk/css/JUA-REGULAR.TTF) format('truetype');}
@font-face {font-family:Hanygo230; src: url(/ppangduk/css/HANYGO230.TTF) format('truetype');}
@font-face {font-family:appleSDm; src: url(/ppangduk/css/AppleSDGothicNeoM.ttf) format('truetype');}
@font-face {font-family:appleSDl; src: url(/ppangduk/css/AppleSDGothicNeoL.ttf) format('truetype');}
@font-face {font-family:appleSDeb; src:url(/ppangduk/css/AppleSDGothicNeoEB.ttf) foramt('truetype');}

header {margin:0 auto; margin-bottom:30px; width:1000px; height:61px;}
p {padding-top:17px;}
a {text-decoration-line:none;}
span {color:#4C4C4C; font-size:18px; padding-left:10px; font-weight:600;}

#wrap{width:1000px; margin:0 auto;}

.div_image, .div_text, .div_main_menu, .search{display:inline; float:left;}
.search_image{display:inline; margin-left:7px;}

.image_logo {width:65px; height:65px; margin-left:35px;}
.div_text {
	font-family:Jua Regular; 
	font-size:35px;
	height:35px;
	margin-top:15px;
}
 
.logo_text{color:#4B2C00;}

.div_main_menu {margin-left:27px; margin-top:25px;}
.main_menu1, .main_menu2 {font-family:appleSDeb;}
.main_menu1:hover, .main_menu2:hover {color:#FF9436; font-size:18px;} 

.search{width:375px; height:40px; margin-top:20px;}
.input_search{margin-left:47px; width:270px; height:33px; margin-top:-30px;}
.image_search {width:35px; height:35px; vertical-align:middle;}

.member{width:300px; height:40px; float:left; margin-top:23px; margin-left:20px;}
.cart{width:27px; height:27px; vertical-align:middle;}
.member_font{width:200px; height:40px; margin-left:35px; margin-top:-23px;}

.font {
	font-size:15px; 
	color:#4C4C4C; 
	font-weight:600; 
	font-family:appleSDl;
	margin-left:17px;
}

.writeBtn{
	float:left;
	margin-top:-30px;
	margin-left:150px;
	height:40px; width:90px; 
	background:#FF9436; 
	border:none; 
	border-radius:5px;
}
.writeStrong{color:white; font-family:appleSDl; font-size:17px; padding-top:2px;}
